Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

st.font:         JetBrainsMono Nerd Font:style:medium:pixelsize=13

! window padding
st.borderpx: 0

!- 0.1 to 0.9 = transparency
st.alpha: 0.9

! *background: #181f21
! *foreground: #dadada
*background: #282828
*foreground: #ebdbb2

! Black + DarkGrey
*color0:  #928374
*color8:  #a89984

! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934 

! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26 

! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f

! DarkBlue + Blue
*color4:  #458588
*color12: #83a598

! DarkMagenta + Magenta
*color5:  #8f3f71
*color13: #b16286

! DarkCyan + Cyan
*color6:  #076678
*color14: #458588

! LightGrey + White
*color7:  #a89984
*color15: #fbf1c7
